<div class="home">
  <div class="home__header header">
    <div class="home__logo">Бункер</div>
    <div class="home__items">
      <div class="home__item" (click)="navigate('/room-list')">
        Комнаты
      </div>
    </div>
    <div class="home__auth">авторизация(в разработке)</div>
  </div>
  <div class="home__content">
    Для начала игры перейдите в "комнаты"
    <p>
      Пока напишу тут
    </p>
    <p>
      -Создавать комнату может только авторизованный пользователь
    </p>
    <p>
      -Сделать максимально простую регистрацию
    </p>
    <p>
      Сейчас токен записывается в куки и по нему происходит авторизация. Для создания нового пользователя нужно создать его в базе и выдать токен
    </p>
  </div>
</div>
