<div class="room">
  <div class="room__wrapper">
    <div>
      <h1 class="room__title">Бункер</h1>
      <div class="room__description">
        Количестиво игроков: 8/10
      </div>
      <div class="room__bunker bunker">
        <div class="bunker__cat">
          Катастрофа: фывфыв
        </div>
        <div class="bunker__description">
          Параметры бункера
        </div>
      </div>
    </div>

    <div class="room__persons">
      <div class="room__person person person_1">
        <div class="person__name">Arrakktur</div>
        <div class="person__description">
          1. Персонаж : Мужчина<br>
          3. Рост :173 см Телосложение : крепкое<br>
          4. Профессия :химик . Стаж :всю жизнь<br>
          5. Состояние Здоровья :идеально здоров<br>
          6. Хобби/Увлечение :Карточные игры<br>
          7. Фобия : кумпунофобия — боязнь пуговиц<br>
          8. Черта Характера : Щедрый<br>
        </div>
      </div>
      <div class="room__person person person_2">
        <div class="person__name">Senderr</div>
        <div class="person__description">
          1. Персонаж : Мужчина<br>
          3. Рост :173 см Телосложение : крепкое<br>
          4. Профессия :химик . Стаж :всю жизнь<br>
          5. Состояние Здоровья :идеально здоров<br>
          6. Хобби/Увлечение :Карточные игры<br>
          7. Фобия : кумпунофобия — боязнь пуговиц<br>
          8. Черта Характера : Щедрый<br>
        </div>
      </div>
      <div class="room__person person person_3">
        <div class="person__name">Haakana</div>
        <div class="person__description">
          1. Персонаж : Мужчина<br>
          3. Рост :173 см Телосложение : крепкое<br>
          4. Профессия :химик . Стаж :всю жизнь<br>
          5. Состояние Здоровья :идеально здоров<br>
          6. Хобби/Увлечение :Карточные игры<br>
          7. Фобия : кумпунофобия — боязнь пуговиц<br>
          8. Черта Характера : Щедрый<br>
        </div>
      </div>
      <div class="room__person person person_4">
        <div class="person__name">Cuda231</div>
        <div class="person__description">
          1. Персонаж : Мужчина<br>
          3. Рост :173 см Телосложение : крепкое<br>
          4. Профессия :химик . Стаж :всю жизнь<br>
          5. Состояние Здоровья :идеально здоров<br>
          6. Хобби/Увлечение :Карточные игры<br>
          7. Фобия : кумпунофобия — боязнь пуговиц<br>
          8. Черта Характера : Щедрый<br>
        </div>
      </div>
      <div class="room__person person person_5">
        <div class="person__name">Kaban</div>
        <div class="person__description">
          1. Персонаж : Мужчина<br>
          3. Рост :173 см Телосложение : крепкое<br>
          4. Профессия :химик . Стаж :всю жизнь<br>
          5. Состояние Здоровья :идеально здоров<br>
          6. Хобби/Увлечение :Карточные игры<br>
          7. Фобия : кумпунофобия — боязнь пуговиц<br>
          8. Черта Характера : Щедрый<br>
        </div>
      </div>
      <div class="room__person person person_6">
        <div class="person__name">(Николай)</div>
        <div class="person__description">
          1. Персонаж: ???<br>
          3. Телосложение: ???<br>
          4. Профессия: ???<br>
          5. Состояние Здоровья: ???<br>
          6. Хобби/Увлечение: ???<br>
          7. Фобия: ???<br>
          8. Черта Характера: ???<br>
        </div>
      </div>
    </div>

    <div class="room__navigate navigate"  (click)="navigate()">
      <div class="navigate__controls">
        <div>
          asdasda
        </div>
      </div>
    </div>

  </div>
</div>
