.signIn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signIn__wrapper{
  height: max-content;
}

.signIn__form{
  width: 300px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
}
